<h1>Totall</h1>
<h3><%= @user.name %></h3>
<%= link_to 'Users', controller: 'users' %><br />
<%= link_to 'Categories', controller: 'categories' %><br />
<%= link_to 'Accounts', controller: 'accounts' %><br />
<%= link_to 'Update All Balances', controller: 'update' %><br />
<h3>Net Worth</h3>
<p><%= number_to_currency(@networth) %></p>
