<%= form_with(model: [ current_user, @account, @balance ], local: true) do |form| %>
  <% if @balance.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@balance.errors.count, "error") %> prohibited
        this account from being saved:
      </h2>
      <ul>
        <% @balance.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :value %><br />
    <%= form.text_field :value %>
  </p>
  <p>
    <%= form.label :estimate %> <br />
    <%= form.check_box :estimate %>
  </p>
  <p>
    <%= form.label :timestamp %><br />
    <%= form.time_select :timestamp %>
  </p>
  <p>
    <%= form.label :note %><br />
    <%= form.text_area :note %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
