<table>
  <tr>
    <th>Date</th>
    <th>Balance</th>
    <th>Estimate?</th>
    <th>Note</th>
  </tr>
  <% @account.balances.each do |balance| %>
    <tr>
      <td><%= balance.updated_at %></td>
      <td><%= balance.value %></td>
      <td><%= balance.estimate %></td>
      <td><%= balance.note %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'New Balance', new_user_account_balance_path(current_user_id, @account.id), class: "btn btn-lg btn-primary" %>
