<h1>Balance</h1>

<p>
  <strong>Value:</strong>
  <%= number_to_currency(@balance.value) %>
</p>
<p>
  <strong>Estimate:</strong>
  <%= @balance.estimate %>
</p>
<p>
  <strong>Note:</strong>
  <%= @balance.note %>
</p>
<p>
  <strong>Date:</strong>
  <%= @balance.created_at %>
</p>

<%= link_to 'Edit', edit_user_account_balance_path(current_user_id, @account, params[:id]), class: "btn btn-lg btn-primary" %>
<%= link_to 'Delete', '#', class: "btn btn-lg btn-primary" %>
