<table>
  <tr>
    <th>Date</th>
    <th>Balance</th>
    <th>Estimate?</th>
    <th>Note</th>
    <th></th>
  </tr>
  <% @account.balances.each do |balance| %>
    <tr>
      <td><%= balance.updated_at %></td>
      <td><%= balance.value %></td>
      <td><%= balance.estimate %></td>
      <td><%= balance.note %></td>
      <td><%= link_to 'Delete', [balance.account, balance],
                     method: :delete,
                     data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
