<h1>Accounts</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Balance<th>
  </tr>

  <% @accounts.order('active desc, name').each do |account| %>
    <tr>
      <td><%= link_to account.name, user_account_path(current_user_id, account) %></td>
      <td><%= account.category.name %></td>
      <td><%= account.active ? current_balance(account) : nil %></td>
    </tr>
  <% end %>
    <tr>
      <td><strong>Totall</strong></td>
      <td></td>
      <td><strong><%= number_to_currency(@totall) %></strong></td>
    </tr>
</table>
<%= link_to 'New Account', new_user_account_path(current_user_id), class: "btn btn-lg btn-primary" %>
